---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-intro {
  padding: 1em;
  margin-bottom: 1em;
  overflow: auto;
  display: block;
  text-decoration: none !important;
  color: inherit !important;
  font-size: 1.35em;

  img {
    max-width: 256px;
    vertical-align: top;
    float: left;
    margin: -1em 1.3em 0 0;
    box-shadow: #888 .3em .3em .2em;
  }

  .post-list & {
    font-size: 1em;
    img {
      max-width: 128px;
    }
    &:hover {
      box-shadow: #888 .3em .3em .2em;
    }
  }

}
