---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-intro {
  padding: 1em;
  margin-bottom: .5em;
  overflow: auto;
  display: block;
  text-decoration: none !important;
  color: inherit !important;
  font-size: 1.35em;

  img {
    &[src=''] {
      height: 6em;
      &::after {
        font-size: 0.5em;
        display: block;
        content: '   (image à ajouter)';
      }
    }
    max-width: 256px;
    vertical-align: top;
    float: left;
    margin: -1em 1.3em .5em 0;
    box-shadow: #888 .3em .3em .2em;
  }

  .post-list & {
    margin-top: -1em;
    padding-top: 2em;
    font-size: 1em;
    img {
      max-width: 128px;
    }
    &:hover {
      box-shadow: #888 .3em .3em .2em;
    }
  }

  .onlyselected & {
      p { display: none; }
  }

}
.onlyselected .post-list li {
    &>span:first-of-type { display: none; }
    width: 150px;
    display: inline-block;
    h3 a {
        display: none;
        font-size: 66%;
    }
}
